.timerdiv {
    position: relative;
    margin: 10px;
    height:400px;
    width: 300px;
    display: inline-block;
}

.timer {
    position: absolute;
    bottom: 0;
    width: 250px;
    font-size: 100px;
    text-align: center;
    border: double 8px #000000;
    border-radius: 20px;
    background-color:rgb(212, 212, 212);
    display: inline-block;
    margin: 10px;
    z-index: 10;
}

.shinhou {
    font-size: 30px;
    margin: 10px;
}

input {
    font-size: 30px;
    width: 50px;
}

#sankou {
    font-size: 20px;
    margin:10px;
}

.parallelogram1{
    width: 250px;
    height: 50px;
    background: #ffffff;
    transform:skewX(-60deg);
    border-right: solid 3px #000000;
    border-left: solid 3px #000000;
    position: absolute;
    bottom: 168px;
    left: 56px;
    z-index: 5;
}

.parallelogram2{
    width: 85px;
    height: 155px;
    background: #ffffff;
    border-bottom: solid 3px #000000;
    border-top: solid 3px #000000;
    border-radius: 10px;
    transform: skewY(-30deg);
    position: absolute;
    bottom: 38px;
    left: 268px;
    z-index: 6;
}

.rectangle1 {
    width: 250px;
    height: 150px;
    border: solid 3px #000000;
    border-radius: 20px;
    position: absolute;
    bottom: 71px;
    left: 100px;
    z-index: 4;
}