.timerdiv {
    float: left;
    margin: 10px;
    height: 70px;
}

.timer {
    padding: 10px;
    font-size: 100px;
    text-align: center;
    border: solid 3px #000000;
    border-radius: 10px;
    display:flex;
    align-items:flex-end;
}

p {
    font-size: 30px;
}

form {
    font-size: 30px;
}

input {
    font-size: 30px;
    width: 50px;
}